@import "~bootstrap/scss/bootstrap";
@import "./variables";

// Navbar
nav {
    background-color: $main_dark_green;
    .logo_laravel {
        max-width: 100%;
        img {
            max-width: 25%;
        }
    }
    .navbar-nav {
        .nav-item {
            a {
                color: $main_orange;
            }
        }
    }
}

// Homepage
body {
    background-color: $main_bg;
}
